<!DOCTYPE html>
<html lang="en">

<head> <%- include('../partials/head.ejs') %> </head>

<body>

  <%- include('../partials/navbar.ejs'); %>

    <div class="container">
      <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>Room name</th>
            <th>Length</th>
            <th>Height</th>
            <th>Width</th>
            <th>Area</th>
            <th>Max capacity</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((room, step)=> { %>
            <tr>
              <td>
                <%= step+1 %>
              </td>
              <td>
                <%= room.room_name %>
              </td>
              <td>
                <%= room.room_length %>
              </td>
              <td>
                <%= room.room_width %>
              </td>
              <td>
                <%= room.room_height %>
              </td>
              <td>
                <%= room.room_area %>
              </td>
              <td>
                <%= room.max_capacity %>
              </td>
              <td>
                <button>Edit</button>
                <button>Del</button>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
</body>

</html>