<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking</title>

  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <ul>
    <li><a href="/room">Home</a></li>
    <li><a href="/room/form">Form</a></li>
    <li><a href="">Contact</a></li>
    <li style="float:right"><a class="active" href="/home">About</a></li>
  </ul>

  <div class="container">
    <% if(newRoom) { %>
      <h3>Rooms has saved already!</h3>
      <p>Room info:</p>
      <p>
        - room: <%= room.room %> <br>
          - length: <%= room.length %> <br>
            - height: <%= room.height %> <br>
              - width: <%= room.width %> <br>
                - area: <%= room.length * room.width %> <br>
                  - capacity: <%= room.capacity %>
      </p>
      <% } %>
  </div>
</body>

</html>