<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking</title>

  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <ul>
    <li><a href="/room">Home</a></li>
    <li><a href="/room/form" class="active">Create room</a></li>
    <li><a href="">Contact</a></li>
    <li style="float:right"><a class="active" href="/room/home">About</a></li>
  </ul>

  <div class="form">
    <%=Number(roomUpdate.id)%>
      <form action="/room/update/<%=roomUpdate.id%>" method="post">
        <fieldset>
          <legend>
            <h2>Update room info:</h2>
          </legend>
          <label for="room">Room name:</label>
          <input value="<%=roomUpdate.room_name%>" type="text" id="room" name="room"><br><br>
          <label for="length">Length:</label>
          <input value="<%=Number(roomUpdate.room_length)%>" type="number" id="length" name="length"><br><br>
          <label for="width">Width:</label>
          <input value="<%=Number(roomUpdate.room_width)%>" type="number" id="width" name="width"><br><br>
          <label for="height">Height:</label>
          <input value="<%=Number(roomUpdate.room_height)%>" type="number" id="height" name="height"><br><br>
          <label for="capacity">Max capacity:</label>
          <input value="<%=Number(roomUpdate.max_capacity)%>" type="number" id="capacity" name="capacity"><br><br>
          <input type="submit" value="Submit">
        </fieldset>
      </form>
  </div>
</body>

</html>